
.group-wWM3zP_M-{
    background-color: transparent;
}
.chart-page .chart-container-border{
    background-color: transparent;
}
.drawingToolbar-U3_QXRof-{
    background-color: transparent;
}
.inner-1xuW-gY4-{
    background-color: transparent;
}
html.theme-dark .group-wWM3zP_M-{
     background-color: transparent;
}
html.theme-dark .layout__area--left {
    border: 1px solid #686868;
}

html.theme-dark .group-2JyOhh7Z-{
    background-color: transparent;
}

html.theme-dark .inner-1xuW-gY4-, html.theme-dark .drawingToolbar-U3_QXRof-{
    background-color: transparent;
}

html.theme-dark .inner-1xuW-gY4-{
    background-color: transparent;
}

html.theme-dark .container-2BvS3Fpg-, html.theme-dark .container-2BvS3Fpg- .inner-3YzQuyJx-{
    background-color: transparent;
}

html.theme-dark .chart-page, .chart-page{
    background-color: transparent;
}


