/*.scrollBot-2HHpZNuf-, .scrollTop-1eXi8ltS-{*/
/*    background-color: transparent;*/
/*}*/
.group-wWM3zP_M-{
    background-color: transparent;
}
.chart-page .chart-container-border{
    background-color: transparent;
}
.drawingToolbar-U3_QXRof-{
    background-color: transparent;
}
.inner-1xuW-gY4-{
    background-color: transparent;
}
.group-2JyOhh7Z-{
    background-color: transparent;
}

html.theme-light .layout__area--left {
    border: 1px solid #f0f0f0;
}

html.theme-dark .chart-page, .chart-page{
    background-color: transparent;
}
